.AS4NotesModal {

  //font-size: 24px;
  //font-family: 'Avenir';


  resize: none;
  position: fixed;
  z-index: 100000;
  background-color:white;
  top: 21%;
  left: 10%;
  height: 356px;
  padding-left: 17px;
  padding-top: 12px;
  width: 80%;
  opacity: 0.9;
  display:none;
  overflow: auto;
  outline: none;
  //border: 1px solid blue;
  border:none;
  //-webkit-box-shadow: 0 0 10px black;
  //      box-shadow: 0 0 10px black;


  border-right: 1px solid gray;
  top: 0px;
  left: 0px;
  width: 451px;
  height: 100%;
  opacity: 1;
  padding-right: 40px;
  padding-top: 21px;
  padding-left: 25px;



  font-size: 14px;
  font-family: 'Monaco';
  opacity: 0.9;
  height: 200px;
  width: 458px;
  border-bottom: 1px solid gray;


}



